.button {
    background-color: #424B6B;
    color:#FFFFFF;
    font-family: sans-serif;
    width: 160px;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 44px;
    cursor: pointer;
    border-radius: 7px;
    font-weight: 400;
    font-size: 14px;
    text-transform: uppercase;
}

