.blurb-background {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #F5F5F5;
    height: 150px;
    font-family: Arial, Helvetica, sans-serif;
    margin: 0 50px;
    margin-top: 50px;
}

#blurb-text {
    color:rgb(170, 160, 160);
    white-space: pre-wrap;
    padding: 0 200px;
    text-align: center;
}