/* @import "~@fontsource/oswald/index.css";
@import "~@fontsource/oswald/300-italic.css"; */

.product-card {
    width: 200px;
    margin: 20px;
    font-family: sans-serif;
}

.product-card:hover {
    background: rgba(0, 0, 0, .1);
}

#product-image {
    height: 100px;
    margin-bottom: 10px;
    background-repeat: no-repeat;
    background-position: center center;
}

#product-title {
    text-transform: uppercase;
    font-weight: bold;
    margin-bottom: 10px;
}

#product-description {
    font-size: 14px;
    margin-bottom: 10px;
}

#product-price {
    color: #10305F;
    font-weight: bold;
}

